<html>
    <head>
        <style>
            *{
                margin: 0;
                padding: 0;
                text-decoration: none;
                font-family: Arial, Helvetica, sans-serif;
            }
            p{
                margin-bottom: 8px;
            }
            .custom-font{
                font-family: Arial, Helvetica, sans-serif;
            }
            .header{
                display:block;
                box-sizing: border-box;
                width: 100%;
                height: auto;
                max-width: 500px;
                padding: 15px;
                background-color: #79C142;
                color: white;
                margin-bottom: 20px;
            }
            .second-color{
                color: rgb(29, 29, 108);
            }
            table{
                border-collapse: collapse;
            }
            th,td{
                border: 1px solid black;
                padding: 5px 7px;
            }
            th{
                background-color: #79C142;
                color: white;
            }
        </style>
    </head>
    <body>
        @RenderBody()
    </body>
</html>