@{
    @model colanta_backend.App.Products.Infraestructure.InvalidBrandMailModel
    Layout = "App/Shared/Infraestructure/Mails/EmailLayout.cshtml";
}
<h2 class="header">Hubo un problema al crear el producto</h2>
<p>
    Al intentar crear el producto: <b>@Model.product.name</b> con SIESA id: <b>@Model.product.siesa_id</b> 
    nos encontramos con que el producto no posee una marca válida, esto puede ocurrir por al menos una de las siguientes razones: <br />
    
</p>
<ul>
    <li>La marca no está viniendo en el JSON de marcas que se le provee al middleware.</li>
    <li>La marca es nula en el JSON de productos que se le provee al middleware.</li>
    <li>Hubo un error al crear la marca en el middleware.</li>
</ul>
<br />
<span>Valor de la marca que vino en el JSON de productos: <b class="second-color">@Model.product.brand.id_siesa</b></span>
        

 


